*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    user-select: none;
    -webkit-user-select: none;
}

body{
    background-color: var(--secondary-color);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
    border-radius: 6px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(127, 127, 127);
}

.container{
    margin: auto;
    padding: 0px 6px;
    width: 475px;
    min-height: 77vh;
    max-height: 77vh;
    border-radius: 10px;
    background-color: var(--primary-color);
    position: relative;
    top: 40px;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--secondary-color);
}

.heading div{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.fa-solid{
    cursor: pointer;
}

.fa-sun, .fa-moon{
    font-size: x-large;
    padding-right: 10px;
}

.todo{
    font-weight: 700;
    cursor: pointer;
}

.todo-img{
    width: 50px;
}

.input{
    padding: 10px;
}

.add-list{
    padding: 7px;
    width: 330px;
    border: 3px solid black;
    border-radius: 100px;
}

.add-btn{
    width: 100px;
    background: rgb(254, 239, 205);
    cursor: pointer;
}

.warning{
    padding-left: 12px;
    font-size: 10px;
    text-decoration: underline;
    text-align: start;
    color: red;
}

.mainContainer{
    min-height: 410px;
    max-height: 410px;
    overflow: auto;
    overflow-x: hidden;
}

.list-item{
    padding: 7px 12px;
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(177, 177, 177);
    border-radius: 4px;
}

.add-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-box-1{
    display: flex;
    align-items: center;
}

.para{
    padding-left: 14px;
    word-break: break-all;
    overflow-wrap: break-word;
    align-self: center;
    color: black;
}

.fa-circle{
    color: white;
}

.fa-circle-check{
    color: rgb(28, 176, 28);
    background-color: white;
    border-radius: 100%;
}

.fa-hourglass-end{
    margin-left: 14px;
    margin-right: 14px;
    color: rgb(254, 239, 205);
    font-size: 20px;
}

.notes{
    width: 20px;
    margin-right: 14px;
    cursor: pointer;
}

.fa-trash{
    font-size: 21px;
    color: rgb(255, 73, 73);
}

.textArea{
    margin-top: 10px;
    height: 75px;
    padding: 5px;
    resize: none;
    border: 2px solid black;
    border-radius: 4px;
    width: 427px;
    background: #ffffff92;
}

.notesArea{
    display:none;
}

.toggle-line{
    color: rgb(75,75,75);
    text-decoration: line-through;
}

:root{
    --primary-color : white;
    --secondary-color : #242424;
}

.dark-mode{
    --secondary-color : white;
    --primary-color: #242424;
}

.bgBlack{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    z-index: 1;
    opacity: 85%;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    border-radius: 30px;
    z-index: 1;
}

.fa-circle-xmark{
    background-color: white;
    border-radius: 50%;
    font-size: x-large;
    color: rgb(255, 71, 77);
    cursor: pointer;
    transition: color 0.3s ease;
    position: absolute;
    top: -7%;
    left: 101%;
}

.fa-circle-xmark:hover{
    color: rgb(255, 0, 8);
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}

.hr,.min,.sec    {
    display: flex;
    margin: 0 15px;
}

.box {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.digit {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: #333;
    width: 100%;
}

.box:hover {
    background-color: #e0e0e0;
}

.colon {
    color: #fff;
    font-size: 4rem;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    margin-top: 34px;
}

.fa-circle-play{
    background-color: white;
    color:rgb(76, 175, 80);
    border-radius: 50%;
    font-size: 55px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.fa-circle-play:hover {
    color: rgb(106, 255, 111);
}

.fa-rotate-right{
    background-color: rgb(175, 76, 80);
    color: white;
    border-radius: 50%;
    font-size: 29px;
    padding: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fa-rotate-right:hover {
    background-color: rgb(255, 139, 143);
}

.toggle{
    width: 0px;
    visibility: hidden;
    opacity: 0%;
}